body {
  font-family: 'Montserrat', sans-serif;
  background-image: url(cloud.jpg);
  background-size: cover;
}

.containerUp {
  width: 300px;
  height: 30px;
  padding: 0, 15px, 15px, 15px;
  margin: auto;
  text-align: center;
  color: white;
}

#container {
  width: 350px;
  height: 450px;
  padding: 20px;
  margin: auto;
  background-color: white;
  border-radius: 15px;
  justify-content: center;
}

#form {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  height: 420px;
  background-color: rgb(227, 227, 227);
  border-radius: 20px;
}

#legend {
  font-weight: bold;
  color: rgb(43, 43, 242);
  font-size: 2.5rem;
}

#login,
#emailHolder,
#passHolder,
#textHolder,
#todayMsg,
#todayDate,
#timeNow {
  margin-top: 20px;
}

#login{
  width: 100px;
  height: 30px;
}

.labelTxt{
  margin-bottom: 5px;
}